body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1d4ee2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: gray;
  border: solid 20px rgb(255, 254, 254);
  border-top: solid 20px red;
  cursor: pointer;
}

span {
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle:hover {
  transition: transform 2s ease;
  transform: rotate(360deg);
}
