body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: azure;
  height: 100vh;
}

.menu-bar {
  height: 65px;
  width: 80px;
  padding-right: 18px;
  transition: width 1s ease;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  align-items: center;
  box-shadow: 0 4px 10px rgb(44, 44, 44);
}

img {
  height: 50px;
  width: 50px;
  margin-left: 8px;
}

.menu-bar:hover {
  width: 300px;
  transition-duration: 2s;
  color: white;
  font-weight: bold;
}

.menu-bar:hover img {
  justify-content: end;
}

.menu-name {
  opacity: 0;
  font-family: sans-serif;
  font-weight: bold;
}

.menu-bar:hover .menu-name {
  opacity: 1;
}
