body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: azure;
  height: 100vh;
}

.menu-bar {
  height: 65px;
  width: 300px;
  padding-right: 18px;
  transition: left 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  align-items: center;
  box-shadow: 0 4px 10px rgb(44, 44, 44);
  position: relative;
  left: -250px;
}

img {
  height: 45px;
  width: 45px;
}

.menu-bar:hover {
  left: 0;
}

.menu-name {
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 30px;
  font-size: 1.5rem;
  color: white;
}
