body {
  margin: 0;
  left: 0;
}

.box {
  width: 250px;
  height: 100px;
  background-color: blue;
  border-radius: 20px;
  position: absolute;
  animation: go-around-right 12s linear infinite;
}

@keyframes go-around-right {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: calc(100% - 250px);
    transform: rotate(180deg);
    background-color: yellow;
  }
  25% {
    top: calc(100% - 100px);
    left: calc(100% - 250px);
    transform: rotate(360deg);
    background-color: red;
  }

  37.5% {
    top: calc(100% - 100px);
    transform: rotate(180deg);
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
    transform: rotate(360deg);
    background-color: orange;
  }
  62.5% {
    top: calc(100% - 100px);
    transform: rotate(180deg);
    left: 0;
  }
  75% {
    top: calc(100% - 100px);
    left: calc(100% - 250px);
    transform: rotate(360deg);
    background-color: red;
  }
  87.5% {
    top: 0;
    transform: rotate(180deg);
    left: calc(100% - 250px);
    background-color: yellow;
  }
}
